<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>To Do List</title>
        <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!-- <% if kindOfDay === "Saturday" || kindOfDay === "Sunday" { %>
        <h1 style="color: red;"><%= kindOfDay %> Todo List</h1>
   <% } else { %> // scriplet tag i.e <% is added to only non html elements. Scriplet tags works on line by line basis.
        <h1 style="color: blue;"><%= kindOfDay %> Todo List</h1>
    <% } %> -->
    <div class="box" id="heading">
        <h1> <%= kindOfDay %> </h1>
    </div>
   
<div class="box">
        <!-- <li>Buy food</li>
        <li>Cook food</li>
        <li>Eat food</li> -->
        <!-- <li> <%= newListItem %></li> -->
        <% for (var i = 0; i<newListItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
            </div>
        <% } %>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="button">+</button>
           </form>
</div>
   

  
</body>
</html>